@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');

.inputbox {
    display:grid;   /*Box Model pola varum*/
     background-color:#f8f8f8;
    place-items:center;
    height:100vh;              /*view hight screen oda height ku 100vh*/
}

.inputBox__field {
    padding:10px;
    text-align:center;
    background-color:white;
    border-radius:10px;
    box-shadow: 0 5px 6px rgba(0,0,0,0.12),0 2px 3px rgba(0,0,0,0.24);
    padding-top:0;
    padding-bottom:50px;
    margin:20px;
}
.inputBox__field > h1 {
    font-family: "Montserrat",sans-serif;
    margin-top:10px;
}

.inputBox__field > img {
    width:15%;
    padding-bottom:40px;
    padding-top:20px;
}

.inputBox__field > form > button {
    margin-top:30px;
    text-transform:inherit !important;
    background-color:#0A8D48;
}